body {
    font-family: Arial, sans-serif;
    background-image: url('guevara.jpg'); 
    background-size: 2600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-repeat: no-repeat; 
    background-position: center center;
    display: inline-block;
}
header {
    text-align: center;
}
form {
    background-color: #7956563b;
    padding: 40px;
    border: 2px solid #3f1717;
    border-radius: 10px;
    box-shadow: 3px 9px 8px rgba(0, 0, 0, 0.3);
    width: 300px; 
    background-position: center center;
    backdrop-filter: blur(4px);
    
}

button{
    background-color: #e4c0c0;
    padding: 4px;
    border: 1px solid #312424 ;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(255, 244, 244, 0.3);
    width: 80px
}
input{
    background-color: #000000;
    color: white;
    padding: 4px;
    margin-bottom: 9px;
    border-radius: 60px;
    border: 2px solid #3b3131 ;
    width: 180px
    

}
 
main{
    background-color: #680f0fd0;
    padding: 300px;
    border-radius: 10px;
    box-shadow: 66 500px 66px rgba(0, 0, 0, 0.3);
    width: 800px
    
}
p, h1, h2{
    color: #ffffff;
}

#inpu1 {
    background-color: #000000;
    color: white;
    padding: 4px;
    margin-bottom: 7px;
    border-radius: 60px;
    border: 2px solid #3b3131 ;
    width: 80px
}


#inpu2 {
    background-color: #000000;
    color: white;
    padding: 4px;
    margin-bottom: 7px;
    border-radius: 60px;
    border: 2px solid #3b3131 ;
    width: 80px
}

#select1{
    margin-bottom: 9px;
    background-color: #000000;
    color: #797171;
    padding: 3px;
    border-radius: 60px;
    border: 2px solid #524444 ;
    width: 90px
    
}
 
#select2{
    margin-bottom: 9px;
    background-color: #000000;
    color: #797171;
    padding: 3px;
    border-radius: 60px;
    border: 2px solid #524444 ;
    width: 90px
    
    
}
 

 #select3{
    margin-bottom: 9px;
    background-color: #000000;
    color: #797171;
    padding: 3px;
    border-radius: 60px;
    border: 2px solid #524444 ;
    width: 180px
    
}
 
