body {
    font-family: Arial, sans-serif;
    background-image: url('https://scontent.frga1-1.fna.fbcdn.net/v/t39.30808-6/300019620_580035326974660_4401353466156044707_n.jpg?stp=dst-jpg_s960x960&_nc_cat=100&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=TUcxZg6TmScQ7kNvgGqwGWc&_nc_zt=23&_nc_ht=scontent.frga1-1.fna&_nc_gid=ArMUwAOR_xmtj9dVoVPFdNs&oh=00_AYBLV4lUpVhMoup7ZdgLWp-0YK77q1EzyPYk3aGTbb_c3g&oe=6713929A'); /* Reemplazar con la ruta de tu imagen de fondo */
    background-size: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 80;
}

header {
    text-align: center;
}


form {
    background-color: #ce8b8bb0;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px; /* Ajusta el ancho según sea necesario */
    background-position: center center;
}
 
button{
    background-color: #e4c0c0;
    padding: 4px;
    border: 1px solid #7e6262 ;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
    width: 70px

}

input{
    background-color: #1a1515;
    padding: 4px;
    margin-bottom: 7px;
    border-radius: 60px;
    border: 1px solid #7e6262 ;
    width: 180px

}
 
main{
    background-color: #680f0fd0;
    padding: 300px;
    border-radius: 10px;
    border: 10px solid #000000 ;
    box-shadow: 66 500px 66px rgba(0, 0, 0, 0.3);
    width: 2500px
    
}

p, h1, h2{
    color: #ffffff;
}
/* Otros estilos para personalizar el aspecto */
